<!-- <div [froalaEditor]>Type your contents here...</div> -->

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <!-- editor -->
  <div id="sample2" [froalaEditor] [(froalaModel)]="content" formControlName="formModel"></div>

  <!-- controls -->
  <button type="submit">Save</button> 

</form>
<button (click)="publish()">Publish</button>
<button (click)="setValue()">Set value</button>

<!-- contents preview -->
<!-- <h4>Rendered Content:</h4>
<div [froalaView]="content"></div> -->



<!-- <div class="sample">

  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngIf="formModel.invalid"> Name is too short. </div>
    <h3>Textarea with formControlName and froalaModel</h3>
    <textarea  id="sample9-1" [froalaEditor] formControlName="formModel" [(froalaModel)]="form.formModel"></textarea>
    <h4>Rendered Content:</h4>
    <div [froalaView]="form.value.formModel"></div>
    <h3>Textarea only with formControlName</h3>
    <textarea  id="sample9-2" [froalaEditor] formControlName="formModel"></textarea>
    <h4>Rendered Content:</h4>
    <div [froalaView]="content"></div>
    <button type="submit">Submit</button>
  </form>
  <button (click)="setValue()">Set preset value</button>
</div> -->


